<div class="page-header">
  <h1>更新资料</h1>
</div>
<%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put } do |f| %>
  <%= f.input :name, :label => "用户名" %>
  <%= f.input :email, :disabled => true, :label => "电子邮箱" %>
  <%= f.hidden_field :email %>
  <%= f.input :password, :label => "新密码", :input_html => {:autocomplete => "off"}, :hint => "如果不想更改密码，请勿填写" %>
  <%= f.input :password_confirmation, :label => "确认新密码", :input_html => {:autocomplete => "off"} %>
  <%= f.input :current_password, :label => "当前密码", :required => true,  :input_html => {:autocomplete => "off"}, :hint => "输入您的当前密码确认资料的更新" %>
  <%= f.button :submit, :class => "btn-success", :value => "更新" %>
<% end %>