<% if @shops.length == 0 %>
  <div class="alert alert-no-item">
    <% if @follow %>
    <h4>您还没有关注过任何小铺呢</h4>
    <p></p>
    <p>您可以<%= link_to "点击这里", shops_path %>浏览您附近的校园小铺哦。</p>
    <% else %>
    <h4>暂时没有可浏览的小铺呢</h4>
    <p>您可以<%= link_to "点击这里", new_shop_path %>, 创建一个属于自己的校园小铺哦。</p>
    <% end %>
  </div>
<% end %>

<div class="shop-container">
  <% @shops.each do |shop| %>
    <%
       item = shop.items.last
    %>
    <div class="span4 shop">
      <h3><%= link_to shop.name, shop, :class => "shop-name" %> <span class="label label-info"><%= shop.zone.city.name %> <%= shop.zone.name %></span></h3>
      <p><small><%= shop.following_users.count %>关注 | <%= shop.items.count %>件货</small></p>
      <% if item %>
        <% if item.photo.file? %>
          <div class="span3"><a href="<%= item_path(item) %>" class="img-container"><img src="<%= item.photo.url %>"></a></div>
        <% else %>
          <%= image_tag "noimage.jpg", :class => "img-rounded" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="span8">
  <%= will_paginate @shops, :previous_label => "上一页", :next_label => "下一页" %>
  </div>
</div>
