<div class="row">
  <div class="span7">
    <%= link_to "创建小铺", new_shop_path, :class => "btn btn-warning" %>
    <a class="btn btn-warning" data-toggle="modal" data-target="#map-modal">选择当前位置</a>
    <div class="modal hide fade" tabindex="-1" role="dialog" id="map-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>请选择您当前的位置</h3>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary confirm">确定</a>
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">取消</a>
      </div>
    </div>
  </div>
</div>
<% if @shops.length == 0 %>
  <div class="alert alert-no-item">
    <% if @follow %>
    <h4>您还没有关注过任何小铺呢</h4>
    <p></p>
    <p>您可以<%= link_to "点击这里", shops_path %>浏览您附近的校园小铺哦。</p>
    <% else %>
    <h4>暂时没有可浏览的小铺呢</h4>
    <p>您可以<%= link_to "点击这里", new_shop_path %>, 创建一个属于自己的校园小铺哦。</p>
    <% end %>
  </div>
<% end %>
<div class="row">
<% @shops.each do |shop| %>
<% 
  url = "http://www.mywebmarket.net/shops/#{shop.id}" 
%>
<div class="span4">
    <hr >
    <div class="shop">
      <h3><%= link_to shop.name, shop, :class => "shop-name" %> <small><%= shop.items.count %>件货</small></h3>
      <p>掌柜: <%= link_to shop.user.name, shop.user %> 创立于: <%= shop.created_at.to_date.to_s %></p>
      <p><%= (Geokit::Geocoders::GoogleGeocoder.reverse_geocode [shop.lat, shop.lng]).full_address %></p>
        <p><span class="label label-success">最新消息</span></p>
        <% shop.items.last(2).reverse.each do |item|%>
          <p><%= item.created_at.localtime.to_s(:db) %> 发布新货 <%= link_to item.name, item %></p>
        <% end %>
        <% if shop.items.count < 2 %>
          <p><%= shop.created_at.localtime.to_s(:db) %> 正式开业！</p>
        <% end %>
        <% if shop.items.count < 1 %>
          <p><%= (shop.created_at.localtime - 60).to_s(:db) %> 小铺准备开业。</p>
        <% end %>
        <p class="pull-right">
          <%= link_to "更多#{shop.name}的消息", shop, :class => "btn btn-mini "%>
        </p>
        <!-- JiaThis Button BEGIN -->
        <div class="jiathis_style" onmouseover="setShare('<%= url %>', '向你推荐一个校园小铺: <%= shop.name %>', '校园小铺 － 开小铺 交朋友 轻轻松松做买卖', 'http://www.mywebmarket.net/<%= shop.items.last.photo.url %>');" >
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_renren"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_tqq hidden-phone"></a>
        <a class="jiathis_button_tsina hidden-phone"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
        </div>
        <!-- JiaThis Button END -->
    </div>
</div>
<% end %>
</div>
<div class="row">
  <div class="span8">
  <%= will_paginate @shops, :previous_label => "上一页", :next_label => "下一页" %>
</div>
</div>
<script type = "text/javascript">
  center = new google.maps.LatLng(<%= @lat %>, <%= @lng %>);
  var map = new MyWebMarket.Models.Map({
    zoom: 10,
    center: center,
    location: center,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });   

  var mapPopup = $("div#map-modal > div.modal-body");
  var mapView;
  $('#map-modal').on('shown', function () {
    if(!mapView){
      mapView = new MyWebMarket.Views.MapView({
        model: map,
        clickable: true,
        changable: true
        });
      mapPopup.html($(mapView.render().el));    
    }
  });

  <% if !@address && !@cid %>
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      function( position ){
        map.set("location", new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
        setUrl(map);
      },
      function( error ){
      // TODO
      }
    );
  } else {
    $("#map-modal").show();
  }
  <% end %>

  //TODO - use backbone to handle all the views - should be ajax
  $("div.modal-footer > a.confirm").click(function(){
    setUrl(map);
  });

  function setUrl(model, cid) {
    if(model){
      var latLng = model.get("location");
      if(latLng){
        location.href = "/shops" + "?lat=" + latLng.lat() + "&lng=" + latLng.lng();
      }   
    }
  } 
</script>