<% 
  shop = @shop
  url = "http://www.mywebmarket.net/shops/#{shop.id}" 
%>  
<% content_for :meta do %>
  <meta property="og:title" content="<%= shop.name %>"/>
  <meta property="og:description" content="校园小铺 － 开小铺 交朋友 轻轻松松做买卖"/>
  <meta property="og:url" content="<%= url %>" />
  <meta name="title" content="<%= shop.name %>" />
  <meta name="description" content="校园小铺 － 开小铺 交朋友 轻轻松松做买卖"/>
  <meta name="keywords" content="校园小铺,二手,二手市场,学校,大学生,跳蚤,赚钱,网店,交易,买卖,二手书,二手电器,二手优惠券,原创,校園交易,跳蚤市場,二手,二手貨,二手買賣,電腦,手袋,衣物,相機,二手書,香港二手,台灣二手,交易平台,禮券,優惠券,現金券,首飾,手表,網店,賺錢,二手討論區,傢俬,優惠,網店,免費,環保,香港,台灣,拍賣,跳蚤,市場,中文,<%= shop.name %>,<%= shop.description %>"/>
<% end %>
<div class="page-header">
  <h1><%= shop.name %> <small><%= shop.items.count %>件货</small> <span class="badge badge-info"><%= shop.city.name %></span></h1>
  <% if user_signed_in? && current_user.id == shop.user.id %>
    <%= link_to '更新小铺资料', edit_shop_path(shop), :class => "btn btn-success" %>
    <%= link_to "发布新货", new_item_path, :class => "btn btn-info" %>
    <!-- <%= link_to '关闭小铺', shop, :confirm => '您确定要关闭这间小铺吗?', :method => :delete, :class => "btn btn-danger" %> -->
  <% else %>
  <div id="follow-btn"></div>
  <% end %>
</div>
<dl class="dl-horizontal">
  <dt>掌柜大名</dt>
  <dd><%= link_to shop.user.name, shop.user %></dd>
  <dt>开业时间</dt>
  <dd><%= shop.created_at.localtime.to_date.to_s(:db) %></dd>
  <dt>卖出货物</dt>
  <% soldItems = shop.items.select {|i| i.buyer } %>
  <dd><span class="badge badge-important"><%= soldItems.count %>件</span></dd>
  <dt>销售业绩</dt>
  <dd><span class="badge badge-info">$<%= soldItems.collect {|i| i.price }.inject(:+) || 0 %></span></dd>
  <% if shop.description && shop.description != "" %>
  <dt>自我介绍</dt>
  <dd><%= shop.description %></dd>
  <% end%>
</dl>
<div class="row">
  <div class="span1"></div>
  <div class="span6 well" id="shop-map"></div>
</div>
<% 
  pic_url = shop.items.last && shop.items.last.photo.file? ? "http://www.mywebmarket.net/#{shop.items.last.photo.url}" : "http://www.mywebmarket.net/assets/logo.jpeg"
%>
<div class="row" id="share-bar" onmouseover="setShare('<%= url %>', '向你推荐一个校园小铺: <%= shop.name %>', '校园小铺 － 开小铺 交朋友 轻轻松松做买卖', '<%= pic_url %>');">
	<!-- JiaThis Button BEGIN -->
	<div id="jiathis_style_32x32">
		<a class="jiathis_button_qzone"></a>
    <a class="jiathis_button_renren"></a>
    <a class="jiathis_button_weixin"></a>
    <a class="jiathis_button_tqq hidden-phone"></a>
    <a class="jiathis_button_tsina hidden-phone"></a>
		<a href="http://www.jiathis.com/share" class="hidden-phone jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	</div>
	<!-- JiaThis Button END -->	
</div>
<!-- <div class="modal hide fade" tabindex="-1" role="dialog" id="shop-map-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= shop.name %>的位置</h3>
  </div>
  <div class="modal-body" id="shop-map">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">关闭</a>
  </div>
</div> -->
<script type = "text/javascript">
  var shopLocation = new google.maps.LatLng(<%= shop.lat %>, <%= shop.lng %>);
  var shopMap = new MyWebMarket.Models.Map({
    zoom: 10,
    center: shopLocation,
    location: shopLocation,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }); 
  var shopMapView = new MyWebMarket.Views.MapView({
    model: shopMap,
    clickable: false,
    changable: false
    });
  $("div#shop-map").html($(shopMapView.render().el));   

  // $('#shop-map-modal').on('shown', function () {
  //   if(!shopMapView){
  //     shopMapView = new MyWebMarket.Views.MapView({
  //       model: shopMap,
  //       clickable: false,
  //       changable: false
  //       });
  //     $("div#shop-map").html($(shopMapView.render().el));    
  //   }
  // });
  
  var follow = new MyWebMarket.Models.Follow({shop_id: <%= shop.id %>});
  <% if user_signed_in? && follow = shop.follows.select {|follow| follow.user_id == current_user.id}.first %>
    follow.id = <%= follow.id %>;
  <% end %>
  
  // TODO - refactor using backbone
  var followView = new MyWebMarket.Views.FollowView({model: follow});
  $("div#follow-btn").html($(followView.render().el));

  follow.bind("change:id", renderFollowButtn);
  follow.bind("destroy", function(){
    this.id = null;
    renderFollowButtn();
  });

  function renderFollowButtn(){
    $("div#follow-btn").html($(followView.render().el));
    followView.delegateEvents();
  }

  $("a.social-share").click(function(){
    $("a.jiathis_button_renren").click();
  });

</script>
<!-- UJian Button BEGIN -->
<div class="ujian-hook"></div>
<script type="text/javascript">var ujian_config = {num:4};</script>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js"></script>
<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="友荐云推荐" style="border:0;padding:0;margin:0;" /></a>
<!-- UJian Button END -->
<%= render "items/items" %>
<div class="row center">
  <!-- <div class="fb-comments" data-href="<%= url %>" data-num-posts="3" data-width="600"></div> -->
</div>

