<div class="page-header">
  <h1><%= image_tag "/assets/logo_new.jpg", :class=>"img-rounded" %> 校园小铺欢迎您！ </h1>
</div>
<ul class="nav nav-tabs">
  <li class="<% if tab=="login" %>active<% end %>"><a href="#login" data-toggle="tab">用户登陆</a></li>
  <li class="<% if tab=="register" %>active<% end %>"><a href="#register" data-toggle="tab">新用户注册</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane <% if tab=="login" %>active<% end %>" id="login">
    <div class="span3">
  	<%= simple_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>
    		<%= f.input :email, :label => "电子邮箱" %>
    		<%= f.input :password, :label => "密码" %>
    		<%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => "记住密码" %>
  	  	<%= f.button :submit, :class => "btn-primary", :value => "登入" %>
  	<% end %>
    <%= render "devise/shared/links" %>
    </div>
    <%= render "devise/shared/social_login" %>
  </div>  
  <div class="tab-pane <% if tab=="register" %>active<% end %>" id="register">
    <div class="span3">
  	<%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
  	  <%= f.input :name, :label => "用户名" %>
  	  <%= f.input :email, :label => "电子邮箱" %>
  	  <%= f.input :password, :label => "密码" %>
  	  <%= f.input :password_confirmation, :label => "确认密码" %>
  	  <%= f.button :submit, :class => "btn-primary", :value => "提交" %>
  	<% end %>
    <%= render "devise/shared/links" %>
    </div>
    <%= render "devise/shared/social_login" %>
  </div>
</div>