<h2>重新發送帳戶解鎖的步驟說明</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>

  <div><%= f.label :電子郵箱 %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "重發帳戶解鎖的步驟說明" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>