<% if @items.length == 0 %>
  <div class="alert alert-no-item">
    <h4>暂时没有货物呢,只有发布过货物的小铺才可以显示在首页哦。</h4>
    <h4>您可以<%= link_to "点击这里", new_item_path %>发布新货。</h4>
  </div>
<% end %>
<% @items.each do |item| %>
  <%
     url = "http://www.xiaoyuanxiaopu.com/items/#{item.id}"
     shop = item.shop
     created_time = item.created_at.localtime
  %>
  <div class="item-container row-fluid">
    <div class="span2 sidebar">
      <span class="month"><%= I18n.t("date.month_names")[created_time.month] %></span>
      <span class="day"><%=created_time.day %></span>
      <span class="year"><%=created_time.year %></span>
      <span class="shop"><%= link_to shop.name, shop %></span>
      <span class="shop-follow"><%= shop.follows.count %>关注<i class="fui-heart"></i></span>
    </div>
    <div class="span10">
      <div class="row-fluid center">
        <% if item.photo.file? %>
          <%= image_tag item.photo.url, :class=>"img-rounded" %>
        <% else %>
          <%= image_tag "noimage.jpg", :class=>"img-rounded" %>
        <% end %>
      </div>
      <h5>
        <%= link_to item.name, item %>
        <span class="tagsinput tags">
          <span class="tag city"><%= shop.zone.city.name %></span>
          <span class="tag zone"><%= shop.zone.name %></span>
          <span class="tag price">¥<%= item.price %></span>
          <% if item.category %><span class="tag category"><%= item.category.name %></span><% end %>
          <% if item.buyer %><span class="tag soldout">已下架</span><% end %>
        </span>
      </h5>
      <h6>
        <% if item.description && item.description != "" %><%= item.description %><% end %>
        <%
           pic_url = item.photo.file? ? "http://www.xiaoyuanxiaopu.com/#{item.photo.url}" : "http://www.xiaoyuanxiaopu.com/assets/logo_new.jpg"
        %>
        <!--JiaThis Button BEGIN-->
        <div class="jiathis_style pull-right" onmouseover="setShare('<%= url %>', '<%= item.name %>只要$<%= item.price %>', '校园小铺 － 开小铺 交朋友 轻轻松松做买卖', '<%= pic_url %>');" >
          <a class="jiathis_button_weixin"></a>
          <a class="jiathis_button_tsina"></a>
          <a class="jiathis_button_douban"></a>
          <a class="jiathis_button_renren"></a>
          <a class="jiathis_button_qzone"></a>
          <a class="jiathis_button_taobao"></a>
        </div>
        <!--JiaThis Button END-->
      </h6>
    </div>
  </div>
<% end %>
<%= will_paginate @items, :class => "pagination center" %>