<% 
	url = "http://www.xiaoyuanxiaopu.com/items/#{@item.id}"
	item = @item
%>
<% content_for :meta do %>
	<meta property="fb:app_id" content="208690692477625" /> 
	<meta property="og:title" content="<%= item.name %>只要$<%= item.price %>"/>
	<meta property="og:image" content="<%= item.photo.url %>" /> 
	<meta property="og:description" content="校园小铺 － 开小铺 交朋友 轻轻松松做买卖"/>
	<meta property="og:url" content="<%= url %>" />
	<meta name="title" content="<%= item.name %>只要$<%= item.price %>"/>
	<meta name="description" content="校园小铺 － 开小铺 交朋友 轻轻松松做买卖"/>
	<meta name="keywords" content="校园交易,二手货,二手书,跳蚤市场,电脑,电器,吃,校園交易,跳蚤市場,二手,二手貨,二手買賣,電腦,手袋,衣物,相機,二手書,香港二手,台灣二手,交易平台,禮券,優惠券,現金券,首飾,手表,網店,賺錢,二手討論區,傢俬,優惠,網店,免費,環保,香港,台灣,拍賣,跳蚤,市場,中文,<%= item.name %>,<%= item.category %>"/>
<% end %>
<div class="page-header">
  <h1 class="item-title">
  	<%= "#{item.name}" %>
    <span class="tagsinput tags">
      <span class="tag city"><%= item.shop.city.name %></span>
      <span class="tag price">RMB<%= item.price %></span>
      <% if item.category %><span class="tag category"><%= item.category.name %></span><% end %>
      <% if item.buyer %><span class="tag soldout">已下架</span><% end %>
    </span>
  </h1>
	<p>
		<%= link_to item.shop.name, item.shop %> 发布于 <%= item.created_at.localtime.to_s(:db) %>
	</p>
  <div class="pull-right sub-actions" id="item-actions">
    <% if user_signed_in? && current_user.id == item.shop.user.id %>
      <%= link_to '更新资料', edit_item_path(item), :class => "btn btn-info" %>
      <% if !item.buyer %>
        <%= link_to '货物下架', item_path(item, :item => {:buyer => 1, :shop_id => item.shop.id}), :method => :put, :class => "btn btn-info" %>
      <% end %>
    <% elsif !item.buyer %>
      <%= link_to '联系卖家', new_message_path(:item_id => item.id), :class => "btn btn-info" %>
    <% end %>
    <a href="#" class="social-share btn btn-info hint" title="一键分享至各大社交网络">一键分享</a>
  </div>
</div>
<dl class="dl-horizontal">
  <% if item.description && item.description != "" %>
  <dt>卖家描述</dt>
  <dd><%= item.description %></dd>
  <% end%>
  <dt>货物相片</dt>
	<dd>	
		<div class="image">
	  <% if item.photo.file? %>
	  <%= image_tag item.photo.url, :class => "img-rounded" %>
	  <% else %>
	  <%= image_tag "noimage.jpg", :class => "img-rounded" %>
	  <% end %>
		</div>
	</dd>
</dl>
<div class="row item-action">
	<div class="span2">
	</div>
	<div class="span6">
		<div class="row">
      <!-- JiaThis Button BEGIN -->
      <div class="jiathis_style_24x24">
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_douban"></a>
        <a class="jiathis_button_renren"></a>
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_taobao"></a>
        <a class="jiathis_button_mogujie"></a>
        <a class="jiathis_button_miliao"></a>
        <a class="jiathis_counter_style"></a>
      </div>
      <%
        pic_url = item.photo.file? ? "http://www.xiaoyuanxiaopu.com/#{item.photo.url}" : "http://www.xiaoyuanxiaopu.com/assets/logo_new.jpg"
      %>
			<script type="text/javascript" >
			var jiathis_config={
				url:"http://www.xiaoyuanxiaopu.com/items/<%= item.id %>",
				summary:"校园小铺 － 开小铺 交朋友 轻轻松松做买卖",
				title:"<%= item.name %>只要$<%= item.price %>?",
				pic: "<%= pic_url %>",
				hideMore:false
			}
			</script>
			<!-- JiaThis Button END -->
		</div>
		<div class="row" id="item-location">
			货物位置:
      <% location = controller.curr_location %>
			距离 <%= (item.distance_from(Geokit::LatLng.new(location[:lat], location[:lng]), :units => :kms)).round(2) %> 公里
		</div>
		<div class="row well" id="map"></div>
	</div>
</div>
<div class="row center">
	<!-- <div class="fb-comments" data-href="<%= url %>" data-num-posts="3" data-width="600"></div> -->
	<!-- UY BEGIN -->
	<div id="uyan_frame"></div>
	<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=0" async=""></script>
	<!-- UY END -->
</div>
<script type = "text/javascript">
	var itemLocation = new google.maps.LatLng(<%= item.lat %>, <%= item.lng %>);
	var itemMap = new MyWebMarket.Models.Map({
		zoom: 14,
		center: itemLocation,
		location: itemLocation,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	});	
	var itemMapView = new MyWebMarket.Views.MapView({
		model: itemMap,
		changable: false,
		clickable: false
	});
	$("div#map").html($(itemMapView.render().el));

  //// HACK - Refactor later/////
  var follow = new MyWebMarket.Models.Follow({shop_id: <%= item.shop.id %>});
  <% if user_signed_in? && follow = item.shop.follows.select {|follow| follow.user_id == current_user.id}.first %>
    follow.id = <%= follow.id %>;
  <% end %>

  var followView = new MyWebMarket.Views.FollowView({model: follow});
  $("div#item-actions").append($(followView.render().el));

  follow.bind("change:id", renderFollowButtn);
  follow.bind("destroy", function(){
    this.id = null;
    renderFollowButtn();
  });
  /////////////////////////////

</script>

