<% 
	url = "http://www.xiaoyuanxiaopu.com/items/#{@item.id}"
	item = @item
  shop = @item.shop
%>
<% content_for :meta do %>
	<meta property="fb:app_id" content="208690692477625" /> 
	<meta property="og:title" content="<%= item.name %>只要$<%= item.price %>"/>
	<meta property="og:image" content="<%= item.photo.url %>" /> 
	<meta property="og:description" content="校园小铺 － 开小铺 交朋友 轻轻松松做买卖"/>
	<meta property="og:url" content="<%= url %>" />
	<meta name="title" content="<%= item.name %>只要$<%= item.price %>"/>
	<meta name="description" content="校园小铺 － 开小铺 交朋友 轻轻松松做买卖"/>
	<meta name="keywords" content="校园交易,二手货,二手书,跳蚤市场,电脑,电器,吃,校園交易,跳蚤市場,二手,二手貨,二手買賣,電腦,手袋,衣物,相機,二手書,香港二手,台灣二手,交易平台,禮券,優惠券,現金券,首飾,手表,網店,賺錢,二手討論區,傢俬,優惠,網店,免費,環保,香港,台灣,拍賣,跳蚤,市場,中文,<%= item.name %>,<%= item.category %>"/>
<% end %>
<div class="page-header">
  <h1 class="item-title">
  	<%= "#{item.name}" %>
    <span class="tagsinput tags">
      <span class="tag city"><%= shop.zone.city.name %></span>
      <span class="tag zone"><%= shop.zone.name %></span>
      <span class="tag price">RMB<%= item.price %></span>
      <% if item.category %><span class="tag category"><%= item.category.name %></span><% end %>
      <% if item.buyer %><span class="tag soldout">已下架</span><% end %>
    </span>
  </h1>
	<p>
		<%= link_to shop.name, shop %> 发布于 <%= item.created_at.localtime.to_s(:db) %>
	</p>
  <div class="pull-right sub-actions" id="item-actions">
    <% if is_shop_owner(shop) %>
      <%= link_to '更新资料', edit_item_path(item), :class => "btn btn-info" %>
      <!--<% if !item.buyer %>-->
        <!--<%= link_to '货物下架', item_path(item, :item => {:buyer => 1, :shop_id => shop.id}), :method => :put, :class => "btn btn-info" %>-->
      <!--<% end %>-->
    <% elsif !item.buyer %>
      <%= link_to '联系卖家', new_message_path(:item_id => item.id), :class => "btn btn-info" %>
    <% end %>
    <a href="#" class="social-share btn btn-info hint" title="一键分享至微博、微信、QQ空间和人人网">一键分享</a>
  </div>
</div>
<dl class="dl-horizontal">
  <% if item.description && item.description != "" %>
  <dt>卖家描述</dt>
  <dd><%= item.description %></dd>
  <% end%>
  <dt>货物相片</dt>
	<dd>	
		<div class="image">
	  <% if item.photo.file? %>
	  <%= image_tag item.photo.url, :class => "img-rounded" %>
	  <% else %>
	  <%= image_tag "noimage.jpg", :class => "img-rounded" %>
	  <% end %>
		</div>
	</dd>
</dl>
<%
   pic_url = "http://www.xiaoyuanxiaopu.com/#{item.photo.url}"
%>
<form id="item-form">
  <input type="hidden" name="name" value="<%= item.name%>"/>
  <input type="hidden" name="id" value="<%= item.id %>"/>
  <input type="hidden" name="price" value="<%= item.price %>"/>
  <input type="hidden" name="description" value="<%= item.description %>"/>
  <input type="hidden" name="url" value="<%= "http://www.xiaoyuanxiaopu.com/items/#{item.id}" %>"/>
  <input type="hidden" name="pic" value="<%= pic_url %>" />
</form>
<div class="row item-action">
	<div class="span2">
	</div>
	<div class="span6">
		<div class="row">
      <!-- JiaThis Button BEGIN -->
      <div class="jiathis_style_24x24">
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_douban"></a>
        <a class="jiathis_button_renren"></a>
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_taobao"></a>
        <a class="jiathis_button_mogujie"></a>
        <a class="jiathis_button_miliao"></a>
        <a class="jiathis_counter_style"></a>
      </div>
			<script type="text/javascript" >
			var jiathis_config={
				url:"http://www.xiaoyuanxiaopu.com/items/<%= item.id %>",
				summary:"校园小铺 一键分享至各大社交网络 帮你轻松发布二手货信息",
				title:"<%= item.name %>只要$<%= item.price %>?",
				pic: "<%= pic_url %>",
				hideMore:false
			}
			</script>
			<!-- JiaThis Button END -->
		</div>
	</div>
</div>
<div class="row center">
	<!-- <div class="fb-comments" data-href="<%= url %>" data-num-posts="3" data-width="600"></div> -->
	<!-- UY BEGIN -->
	<div id="uyan_frame"></div>
	<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=0" async=""></script>
	<!-- UY END -->
</div>


