<ul class="nav">
  <li><a href="/">首页</a></li>
  <li><%= link_to "所有货物", items_path(:page=>1) %></li>
  <li><%= link_to "热门小铺", shops_path %></li>
  <!-- <li><%= link_to "创建小铺", new_shop_path %></li> -->
  <li><%= link_to "我的关注", follows_path %></li>
  <!-- <li><%= link_to "我的帐户", user_path(:id => "profile") %></li> -->
  <li><%= link_to "我的信箱", messages_path %></li>
  <li><a href="#" data-toggle="modal" data-target="#aboutus-modal">关于我们</a></li> 
</ul>

<!-- <form class="navbar-search">
  <input type="text" class="search-query" placeholder="Search">
</form> -->