<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><%= image_tag "/assets/logo_new.jpg", :class=>"img-rounded img-small" %></a>
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
      <div class="nav-collapse collapse" id="nav-collapse-01">
        <ul class="nav">
          <li class="<%= 'active' if params[:controller] == 'items' && params[:action] == 'index' %>">
            <%= link_to "最新货物", items_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'items' && params[:action] == 'nearby' %>">
            <%= link_to "附近货物", "/nearby" %>
          </li>
          <!--<li class="<%= 'active' if params[:controller] == 'shops' && params[:action] == 'index' %>">-->
            <!--<%= link_to "周边小铺", shops_path %>-->
          <!--</li>-->
          <% if user_signed_in? %>
            <!--<li class="<%= 'active' if params[:controller] == 'follows' %>"><a class="hint" href="<%= follows_path %>">我的关注</a></li>-->
            <li class="<%= 'active' if params[:controller] == 'messages' %>">
              <a class="hint" href="/messages">我的信箱</a>
              <% if user_signed_in? && current_user.unread_message_count > 0 %>
                <span class="navbar-unread"><%= current_user.unread_message_count%></span>
              <% end %>
            </li>
        <% end %>
        </ul>
      </div>
      <form class="navbar-search" action="search">
        <input type="search" data-provide="typeahead" class="span2 search-query" placeholder="想找什么呢？" />
        <!--<button type="Submit"><i class="icon-search"></i></button>-->
        <a href="#" onclick="$(this).closest('form').submit(); return false;"><i class="icon-search"></i></a>
      </form>

      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-02"></button>
      <div class="nav-collapse collapse" id="nav-collapse-02">
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><a class="name" href="<%= user_path(current_user) %>"><i class="icon-th-list"></i><%= current_user.name %></a>
              <ul>
                <li><a class="hint" href="/messages">我的信箱</a></li>
                <li><a class="hint" href="<%= follows_path %>">我的关注</a></li>
                <li><a class="hint" href="<%= shops_path(:user_id => current_user.id) %>">我的小铺</a></li>
                <li><a class="hint" href="<%= destroy_user_session_path %>">登出</a></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "注册", new_registration_path(:user) %></li>
            <li><%= link_to "登入", new_session_path(:user) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('.search-query').typeahead({
    source: function (query, process) {
        return $.get('/items.json', { query: query }, function (data) {
        	var names = _.map(data, function(d){ return d.name; });
            return process(names);
        });
    }
});
</script>