<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><%= image_tag "/assets/logo_new.png", :class=>"img-rounded img-small" %></a>
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
      <div class="nav-collapse collapse" id="nav-collapse-01">
        <ul class="nav">
          <li class="<%= 'active' if params[:controller] == 'items' && params[:action] == 'index' %>">
            <%= link_to '最新货物', items_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'items' && params[:action] == 'nearby' %>">
            <a id="nearby-items-link">附近货物</a>
          </li>
          <% if user_signed_in? %>
            <li class="<%= 'active' if params[:controller] == 'messages' %>">
              <a class="hint" href="/messages">我的信箱</a>
              <% if current_user.unread_message_count > 0 %>
                <span class="navbar-unread"><%= current_user.unread_message_count%></span>
              <% end %>
            </li>
            <% if current_user.is_admin %>
              <li class="<%= 'active' if params[:controller].include?("admin") %>">
                <%= link_to '管理后台', admin_categories_path %>
              </li>
            <% end  %>
          <% end %>
        </ul>
      </div>
      <form class="navbar-search" action="search">
        <input name="search" type="search" data-provide="typeahead" class="span2 search-query" placeholder="想找什么呢？" />
        <a href="#" onclick="$(this).closest('form').submit(); return false;"><i class="icon-search"></i></a>
      </form>

      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-02"></button>
      <div class="nav-collapse collapse" id="nav-collapse-02">
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><a class="name" href="<%= user_path(current_user) %>"><i class="icon-th-list"></i><%= current_user.name %></a>
              <ul>
                <li><a class="hint" href="/messages">我的信箱</a></li>
                <li><a class="hint" href="<%= follows_path %>">我的关注</a></li>
                <li><a class="hint" href="<%= shops_path(:user_id => current_user.id) %>">我的小铺</a></li>
                <li><a class="hint" href="<%= destroy_user_session_path %>">登出</a></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "注册", new_registration_path(:user) %></li>
            <li><%= link_to "登入", new_session_path(:user) %></li>
          <% end %>
          <% if cookies[:zone] %>
            <% zone = Zone.find(cookies[:zone]) %>
            <li><a href="#" class="hint" id="change-zone-btn" data-placement="bottom" title="点击更改你的当前位置"><%= zone.city.name + zone.name %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal hide fade" tabindex="-1" role="dialog" id="current-zone-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>请选择你的当前位置</h3>
  </div>
  <div class="modal-body" id="choose-zone-modal">
    <% City.sort_by_name.each do |city| %>
      <% if city.zones.size > 0 %>
        <h4><%= city.name %></h4>
        <div class="row">
          <% city.zones.each do |z| %>
            <div class="span2">
              <label class="radio">
                <input class="radio_buttons optional" name="nav[zone]" type="radio" value="<%= z.id %>"><%= z.name%>
              </label>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="modal-footer center">
    <a href="#" class="btn btn-primary confirm">确定</a>
  </div>
</div>
